In [1]:
import pandas as pd

In [2]:
import os
import glob
import sys

In [3]:
home = os.path.expanduser('~')

In [4]:
repo_file = max(glob.iglob(home+'/Downloads/RDRPRepository_DATA_*'), key=os.path.getctime)

In [22]:
repo_data = pd.read_csv(repo_file, index_col='sid')

In [23]:
ss_data = pd.read_csv('/home/pdonnelly/Downloads/surveys_sent.csv', index_col='sid', dtype = object)

In [24]:
repo_data['survey_sent'] = ss_data.survey_sent

In [25]:
repo_data.set_index('record_id', inplace = True)

In [26]:
sum(repo_data.survey_sent=='1')

104

In [27]:
repo_data.to_csv('/home/pdonnelly/Downloads/fixed_sent.csv')

In [28]:
repo_data

              redcap_event_name survey_sent
record_id
1          subject_intake_arm_1         NaN
2          subject_intake_arm_1         NaN
3          subject_intake_arm_1         NaN
4          subject_intake_arm_1         NaN
5          subject_intake_arm_1           1
6          subject_intake_arm_1         NaN
7          subject_intake_arm_1         NaN
8          subject_intake_arm_1         NaN
9          subject_intake_arm_1         NaN
10         subject_intake_arm_1         NaN
11         subject_intake_arm_1         NaN
12         subject_intake_arm_1         NaN
13         subject_intake_arm_1         NaN
14         subject_intake_arm_1         NaN
15         subject_intake_arm_1         NaN
16         subject_intake_arm_1         NaN
17         subject_intake_arm_1         NaN
18         subject_intake_arm_1         NaN
19         subject_intake_arm_1         NaN
20         subject_intake_arm_1         NaN
21         subject_intake_arm_1         NaN
22         subject_intake_arm_1         NaN
23         subject_intake_arm_1         NaN
24         subject_intake_arm_1         NaN
25         subject_intake_arm_1         NaN
26         subject_intake_arm_1         NaN
27         subject_intake_arm_1         NaN
28         subject_intake_arm_1         NaN
29         subject_intake_arm_1         NaN
30         subject_intake_arm_1         NaN
...                         ...         ...
346        subject_intake_arm_1           1
349        subject_intake_arm_1           1
352        subject_intake_arm_1           1
355        subject_intake_arm_1           1
356        subject_intake_arm_1           1
357        subject_intake_arm_1           1
358        subject_intake_arm_1           1
362        subject_intake_arm_1           1
364        subject_intake_arm_1           1
365        subject_intake_arm_1           1
366        subject_intake_arm_1           1
369        subject_intake_arm_1           1
371        subject_intake_arm_1           1
372        subject_intake_arm_1           1
373        subject_intake_arm_1           1
374        subject_intake_arm_1           1
375        subject_intake_arm_1           1
377        subject_intake_arm_1           1
384        subject_intake_arm_1           1
385        subject_intake_arm_1           1
387        subject_intake_arm_1           1
393        subject_intake_arm_1           1
396        subject_intake_arm_1         NaN
397        subject_intake_arm_1         NaN
402        subject_intake_arm_1         NaN
406        subject_intake_arm_1         NaN
413        subject_intake_arm_1         NaN
414        subject_intake_arm_1         NaN
416        subject_intake_arm_1         NaN
421        subject_intake_arm_1         NaN

[222 rows x 2 columns]