In [1]:
import pandas as pd
import numpy as np
import os
import glob

# set home directory so can be used on all OS
home = os.path.expanduser('~')

# find the most recent data file exported from the reg and repo and set it as the file
reg_file = max(glob.iglob(home+'/Downloads/RDRPRegistry_DATA_*'), key=os.path.getctime)
repo_file = max(glob.iglob(home+'/Downloads/RDRPRepository_DATA_*'), key=os.path.getctime)

In [25]:
# load data using the record_id as the index
reg = pd.read_csv(reg_file, index_col='record_id', dtype=object)
repo = pd.read_csv(repo_file, index_col='record_id', dtype=object)

In [26]:
reg

              redcap_event_name    sid past_sub recruiting_status
record_id
103        subject_intake_arm_1  OA103      NaN               NaN
201        subject_intake_arm_1  IB201        1               NaN
203        subject_intake_arm_1  GB203        1               NaN
204        subject_intake_arm_1  NB204      NaN               NaN
205        subject_intake_arm_1  HB205        0                 2
206        subject_intake_arm_1  GB206        0                 2
207        subject_intake_arm_1  HB207        0                 2
208        subject_intake_arm_1  GB208        0                 2
211        subject_intake_arm_1  KB211        1               NaN
212        subject_intake_arm_1  OB212      NaN               NaN
214        subject_intake_arm_1  LB214        0                 2
216        subject_intake_arm_1  QB216      NaN               NaN
217        subject_intake_arm_1  IB217        0                 2
218        subject_intake_arm_1  KB218        0                 2
219        subject_intake_arm_1  IB219        0                 2
221        subject_intake_arm_1  IB221        0                 2
222        subject_intake_arm_1  OB222      NaN               NaN
223        subject_intake_arm_1  PB223      NaN                 0
224        subject_intake_arm_1  HB224        1               NaN
225        subject_intake_arm_1  KB225        1                 2
226        subject_intake_arm_1  PB226      NaN               NaN
227        subject_intake_arm_1  JB227        0                 2
228        subject_intake_arm_1  HB228        1               NaN
231        subject_intake_arm_1  LB231        1               NaN
232        subject_intake_arm_1  FB232        1               NaN
233        subject_intake_arm_1  GB233        0                 1
234        subject_intake_arm_1  JB234        1               NaN
235        subject_intake_arm_1  HB235        1               NaN
236        subject_intake_arm_1  GB236      NaN               NaN
237        subject_intake_arm_1  HB237        1               NaN
...                         ...    ...      ...               ...
295        subject_intake_arm_1  SB295      NaN                 0
296        subject_intake_arm_1  NB296      NaN               NaN
297        subject_intake_arm_1  QB297      NaN               NaN
298        subject_intake_arm_1  GB298        0                 2
301        subject_intake_arm_1  QB301      NaN               NaN
302        subject_intake_arm_1  NB302      NaN               NaN
303        subject_intake_arm_1  RB303      NaN               NaN
304        subject_intake_arm_1  LB304        0                 2
305        subject_intake_arm_1  PB305      NaN                 2
306        subject_intake_arm_1  IB306        0                 2
308        subject_intake_arm_1  NB308      NaN               NaN
310        subject_intake_arm_1  GB310        0                 2
311        subject_intake_arm_1  GB311        0                 1
312        subject_intake_arm_1  RB312      NaN                 1
313        subject_intake_arm_1  OB313      NaN               NaN
315        subject_intake_arm_1  OB315      NaN               NaN
316        subject_intake_arm_1  PB316      NaN               NaN
319        subject_intake_arm_1  IB319        0                 2
320        subject_intake_arm_1  OB320      NaN               NaN
321        subject_intake_arm_1  OB321      NaN               NaN
324        subject_intake_arm_1  PB324      NaN               NaN
327        subject_intake_arm_1  GB327        0                 1
328        subject_intake_arm_1  OB328      NaN               NaN
329        subject_intake_arm_1  HB329        0                 2
331        subject_intake_arm_1  OB331      NaN               NaN
332        subject_intake_arm_1  QB332      NaN               NaN
333        subject_intake_arm_1  OB333      NaN               NaN
334        subject_intake_arm_1  OB334      NaN               NaN
339        subject_intake_arm_1  QB339      NaN               NaN
340        subject_intake_arm_1  JB340        0                 1

[104 rows x 4 columns]

In [7]:
# import time and get current time

from time import gmtime, strftime
now = strftime("%Y-%m-%d %H:%M", gmtime())

In [5]:
repo.index

Int64Index([262, 262, 262], dtype='int64', name='record_id')

In [27]:
# find all subs with upcoming appointments
upcoming = pd.unique(repo.loc[repo['visit_dt'] >= now].index)

In [42]:
for sub in reg.index:
    if not sub in upcoming:
        if reg.ix[sub, 'recruiting_status'] == '2':
            reg.ix[sub, 'recruiting_status'] = 0

In [15]:
for sub in upcoming:
    reg.loc[reg.index == sub, 'recruiting_status']=2

array([262])